<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{% block title %}{{ global.title }}{% endblock %}</title>
  		{{ "foundation-icons.css" | asset_url | stylesheet_tag }}
  		{{ "app.css" | asset_url | stylesheet_tag }}
  		<script src="{{ "modernizr.js" | asset_url }}"></script>
  		<link rel="shortcut icon" type="image/ico" href="{{ "favicon.ico" | asset_url }}" />
	</head>
	<body>
		{% include "header" %}

		{% block content %}{% endblock %}

		{% include "footer" %}
		{% include "scripts" %}
	</body>
</html>