<footer class="fffglobal-footer panel">
	<div class="row">
		<ul class="inline-list left">
		  <li><a href="http://fffunction.co">fffunction</a></li>
		  <li><a href="http://2014.uxbristol.org.uk/">UX Bristol 2014</a></li>
		</ul>
		
		<ul class="inline-list right">
		  <li><a class="right" href="https://twitter.com/fffunction">@fffunction</a></li>
		</ul>
	</div>
</footer>