<div class="fffglobal-header">
	<div class="top-bar" data-topbar>
		<ul class="title-area">
		  <li class="name">
		    <h1><a href="/"><i class="fi-home"></i> Prototyping with Mixture</a></h1>
		  </li>
		   <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
		  <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
		</ul>

		<section class="top-bar-section">
			<!-- Right Nav Section -->
			<ul class="right">
				<li><a href="/pre-workshop-notes">Pre-workshop notes</a></li>
				{% comment %}{% endcomment %}
				<li class="has-dropdown">
				  <a href="/slides/01-hello">Slides</a>
				  <ul class="dropdown">
				  	{% include "slides-list" %}
				  </ul>
				</li>
				
			</ul>
		</section>
	</div>
	{% if mixture.url contains 'slides/' %}
		<div class="sticky">
			<nav class="top-bar" data-topbar>
				<ul class="title-area">
				  <li class="name">
				    <h1 class="fffglobal-header__current-url"><b class="fffglobal-header__base-url">http://uxbristol2014.fffunction.co/</b>{{ mixture.url }}</h1>
				  </li>
				</ul>
			</nav>
		</div>
	{% endif %}
</div>
