<div class="panel">
  <h2>Resources</h2>
  <ul>
    <li><a href="http://mixture.io/">Mixture</a></li>
    <li><a href="http://docs.mixture.io/">Mixture documentation</a></li>
    <li><a href="http://foundation.zurb.com/">Foundation</a></li>
    <li><a href="http://foundation.zurb.com/docs/">Foundation documentation</a></li>
    <li><a href="https://bitbucket.org/fffunction/uxbristol">The repo for this site on Bitbucket</a></li>
    <li>
    	<h6><a href="https://bitbucket.org/fffunction/uxbristol-practical1">The repo for practical session 1 on Bitbucket</a></h6>
    	<ul>
    		<li><a href="https://bitbucket.org/fffunction/uxbristol-practical1/get/HEAD.zip">Download zip</a></li>
    		<li>Or clone with git: git@bitbucket.org:fffunction/uxbristol-practical1.git</li>
    	</ul>
    </li>
    <li>
        <h6>Example fffunction prototypes</h6>
        <ul>
            <li><a href="http://roland-uk-1.fffunction.mixture.io/">Roland UK</a></li>
            <li><a href="http://bristol-museums-prot.fffunction3.mixture.io/">Bristol Museums</a></li>
        </ul>
    </li>
  </ul>
</div>