<li><a href="/slides/01-hello">Hello</a></li>
<li><a href="/slides/02-what-and-why-the-love">What are we talking about? Why the love?</a></li>
<li><a href="/slides/03-the-tools-we-use">The tools we use and we're using today</a></li>
<li><a href="/slides/04-practical-1">Practical 1 - simple 2 column pages</a></li>
<li><a href="/slides/05-foundation-grid">Foundation grid</a></li>
<li><a href="/slides/06-foundation-grid-cont">Foundation grid continued</a></li>
<li><a href="/slides/07-foundation-links">Foundation links</a></li>
<li><a href="/slides/08-foundation-forms">Foundation forms</a></li>
<li><a href="/slides/09-other-useful-foundation-things">Other useful Foundation things</a></li>
<li><a href="/slides/10-practical-2">Practical 2 - freestyle</a></li>
<li><a href="/slides/11-next-steps">Next steps</a></li>
<li><a href="/slides/12-thanks">Thanks</a></li>
{% comment %}
<li><a href="/slides/"></a></li>
{% endcomment %}

