{% block content %} 
<div class="row">
  <div class="large-12 columns">
    <div class="panel fffslide">
      <div class="fffslide__group">
        <h1>Hello</h1>
      </div>

      <div class="fffslide__group">
        <h3>Interactive prototyping with Mixture</h3>
      </div>

      <div class="fffslide__group">
        <h4>
          Dan Goodwin, Adam Robertson, Ben Coleman<br/>
          fffunction
        </h4>
      </div>

      <div class="fffslide__group">
        <h4>
          The resources for this workshop (including these slides) are all available here:
          <a href="http://uxbristol2014.fffunction.co">http://uxbristol2014.fffunction.co</a>
        </h4>
      </div>

      <ul class="inline-list fffslide__controls">
        <li><a href="" class="button tiny disabled"><i class="fi-arrow-left"></i> Previous</a></li>
        <li><a href="02-what-and-why-the-love" class="button tiny">Next <i class="fi-arrow-right"></i></a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}