{% block content %} 
<div class="row">
  <div class="large-12 columns">
    <div class="panel fffslide">
      <div class="fffslide__group">
        <h1>What are we talking about? Why the love?</h1>
      </div>

      <div class="fffslide__group">
        <ul class="fffslide__bullets">
          <li>Like wireframes but interactive</li>
          <li>Responsive</li>
          <li>Better for designing and testing interaction</li>
          <li>Better for sharing with / presenting to clients</li>
          <li>Better for sharing with / testing with users</li>
          <li>Why now? RWD, front end skills and tools</li>
        </ul>
      </div>

      <div class="row">
        <div class="small-12 columns">
          <hr/>
          <ul class="fffslide__bullets fffslide__bullets--columns">
            <li><a href="http://bristol-museums-prot.fffunction3.mixture.io/">fffunction's Bristol Museums interactive prototype</a></li>
            <li><a href="http://www.bristolmuseums.org.uk/">The live Bristol Museums site</a></li>
          </ul>
        </div>
      </div>

      <ul class="inline-list fffslide__controls">
        <li><a href="01-hello" class="button tiny"><i class="fi-arrow-left"></i> Previous</a></li>
        <li><a href="03-the-tools-we-use" class="button tiny">Next <i class="fi-arrow-right"></i></a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}