{% block content %} 
<div class="row">
  <div class="large-12 columns">
    <div class="panel fffslide">
      <div class="fffslide__group">
        <h1>The tools we use and we're using today</h1>
      </div>

      <div class="fffslide__group">
        <ul class="fffslide__bullets">
          <li>Static (ish, mostly) HTML and CSS</li>
          <li>SASS to speed up CSS</li>
          <li>CSS3, javascript, jQuery for interactions</li>
          <li>Mixture - local server, cross device testing, live reload, publishing to internet, pre-processing</li>
          <li>Foundation 5 front end framework - markup and CSS for common and not-so-common tasks, elements, layouts</li>
        </ul>
      </div>

      <ul class="inline-list fffslide__controls">
        <li><a href="02-what-and-why-the-love" class="button tiny"><i class="fi-arrow-left"></i> Previous</a></li>
        <li><a href="04-practical-1" class="button tiny">Next <i class="fi-arrow-right"></i></a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}