{% block content %} 
<div class="row">
  <div class="large-12 columns">
    <div class="panel fffslide fffslide--practical">
      <div class="fffslide__group">
        <h3>Practical 1 - simple 2 column pages</h3>
      </div>

      <div class="fffslide__group">
        <div class="row">
          <div class="medium-6 columns">
            <ul class="fffslide__bullets fffslide__bullets--columns">
              <li>Download and install <a href="http://mixture.io/#download">Mixture</a></li>
              <li>Create a folder for the project (eg in your documents folder) and download the source into it</li>
              <li>Open the project in your text editor</li>
              <li><strong>Open</strong> the project in Mixture</li>
              <li>View the project locally and on devices</li>
            </ul>
          </div>

          <div class="medium-6 columns">
            <ul class="fffslide__bullets fffslide__bullets--columns">
              <li>Review the markup in the template: templates/index.liquid</li>
              <li>Have the <a href="http://foundation.zurb.com/docs/">Foundation documentation</a> to hand</li>
              <li>Add content to the page, add a second page</li>
              <li>Add navigation to the pages (hint: try Foundation's <a href="http://foundation.zurb.com/docs/components/inline_lists.html">Inline lists</a>)</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 columns">
          <hr/>
          <ul class="fffslide__bullets fffslide__bullets--columns">
            <li><strong>zip</strong> <a href="https://bitbucket.org/fffunction/uxbristol-practical1/get/HEAD.zip">https://bitbucket.org/fffunction/uxbristol-practical1/get/HEAD.zip</a></li>
            <li><strong>git</strong> git@bitbucket.org:fffunction/uxbristol-practical1.git</li>
            <li><a href="http://luxbristol-practical.fffunction3.mixture.io/">http://luxbristol-practical.fffunction3.mixture.io/</a></li>
          </ul>
        </div>
      </div>

      <ul class="inline-list fffslide__controls">
        <li><a href="03-the-tools-we-use" class="button tiny"><i class="fi-arrow-left"></i> Previous</a></li>
        <li><a href="05-foundation-grid" class="button tiny">Next <i class="fi-arrow-right"></i></a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}