{% block content %} 
<div class="row">
  <div class="small-12 columns">
    <div class="panel fffslide">
      <div class="fffslide__group">
        <h1>Foundation grid</h1>
      </div>

      <div class="fffslide__group">
        <div class="row">
          <div class="medium-8 medium-push-4 columns">
            <ul class="fffslide__bullets fffslide__bullets--columns">
              <li>12 column grid</li>
              <li>Mobile first - code for small screens first &amp; larger screens inherit then customize for larger screens as necessary</li>
              <li>Nestable - use for page and element layout</li>
              <li>Offset columns, line up incomplete rows, reorder columns at breakpoints</li>
            </ul>
          </div>

          <div class="medium-4 medium-pull-8 columns">
            <div class="panel">
              <h4>Breakpoints</h4>
              <ul>
                <li>small: 0 - 640px</li>
                <li>medium: 641px - 1024px</li>
                <li>large: 1025px - 1440px</li>
                <li>xlarge: 1441px - 1920px</li>
                <li>xxlarge: 1921px and up</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="small-12 columns">
            <hr/>
            <ul class="fffslide__bullets fffslide__bullets--columns">
              <li><a href="http://foundation.zurb.com/docs/components/grid.html">http://foundation.zurb.com/docs/components/grid.html</a></li>  
            </ul>
          </div>
        </div>
      </div>

      <ul class="inline-list fffslide__controls">
        <li><a href="04-practical-1" class="button tiny"><i class="fi-arrow-left"></i> Previous</a></li>
        <li><a href="06-foundation-grid-cont" class="button tiny">Next <i class="fi-arrow-right"></i></a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}