{% block content %} 
<div class="row">
  <div class="small-12 columns">
    <div class="panel fffslide">
      <div class="fffslide__group">
        <h1>Foundation grid continued</h1>
      </div>

      <div class="fffslide__group">
        <div class="row">

          <div class="medium-12 columns text-left">

            <div class="row">
              <div class="small-6 medium-7 large-8 columns">
                <div class="panel">
                  small-6 medium-7 large-8 columns
                </div>
              </div>
              <div class="small-6 medium-5 large-4 columns">
                <div class="panel">
                  small-6 medium-5 large-4 columns
                </div>
              </div>
            </div>
            <div class="row">
              <div class="small-12 medium-8 medium-push-4 columns">
                <div class="panel">
                  small-12 medium-8 medium-push-4 columns
                </div>
              </div>
              <div class="small-12 medium-4 medium-pull-8 columns">
                <div class="panel">
                  small-12 medium-4 medium-pull-8 columns
                </div>
              </div>
            </div>


          </div>
        </div>

        <div class="row">
          <div class="medium-12 columns text-left">

<div class="fffcode">
&lt;div class="row"&gt;<br/>
&nbsp;&nbsp;&lt;div class="small-6 medium-7 large-8 columns"&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="panel"&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;...<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;<br/>
&nbsp;&nbsp;&lt;/div&gt;<br/>
&nbsp;&nbsp;&lt;div class="small-6 medium-5 large-4 columns"&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="panel"&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;...<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;<br/>
&nbsp;&nbsp;&lt;/div&gt;<br/>
&lt;/div&gt;<br/>
&lt;div class="row"&gt;<br/>
&nbsp;&nbsp;&lt;div class="small-12 medium-8 medium-push-4 columns"&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="panel"&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;...<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;<br/>
&nbsp;&nbsp;&lt;/div&gt;<br/>
&nbsp;&nbsp;&lt;div class="small-12 medium-4 medium-pull-8 columns"&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="panel"&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;...<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;<br/>
&nbsp;&nbsp;&lt;/div&gt;<br/>
&lt;/div&gt;
</div>

          </div>

        </div>

        <div class="row">
          <div class="small-12 columns">
            <hr/>
            <ul class="fffslide__bullets fffslide__bullets--columns">
              <li><a href="http://foundation.zurb.com/docs/components/grid.html">http://foundation.zurb.com/docs/components/grid.html</a></li>
            </ul>
          </div>
        </div>
      </div>

      <ul class="inline-list fffslide__controls">
        <li><a href="05-foundation-grid" class="button tiny"><i class="fi-arrow-left"></i> Previous</a></li>
        <li><a href="07-foundation-links" class="button tiny">Next <i class="fi-arrow-right"></i></a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}