{% block content %} 
<div class="row">
  <div class="small-12 columns">
    <div class="panel fffslide">
      <div class="fffslide__group">
        <h1>Foundation links</h1>
      </div>

      <div class="fffslide__group">
        <div class="row">
          <div class="medium-4 columns text-left">
            <h4>Inline list</h4>
            <ul class="inline-list">
              <li><a href="#">Eeny</a></li>
              <li><a href="#">Meeny</a></li>
              <li><a href="#">Miny</a></li>
              <li><a href="#">Moe</a></li>
            </ul>
          </div>

          <div class="medium-8 columns text-left">
            <div class="fffcode"><span class="tag">&lt;<span class="title">ul</span> <span class="attribute">class</span>=<span class="value">"inline-list"</span>&gt;</span><br/>
  &nbsp;&nbsp;<span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#"</span>&gt;</span>Eeny<span class="tag">&lt;/<span class="title">a</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span><br/>
  &nbsp;&nbsp;<span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#"</span>&gt;</span>Meeny<span class="tag">&lt;/<span class="title">a</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span><br/>
  &nbsp;&nbsp;<span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#"</span>&gt;</span>Miny<span class="tag">&lt;/<span class="title">a</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span><br/>
  &nbsp;&nbsp;<span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#"</span>&gt;</span>Moe<span class="tag">&lt;/<span class="title">a</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span><br/>
<span class="tag">&lt;/<span class="title">ul</span>&gt;</span></div>
          </div>
        </div>
        <hr/>
      </div>

      <div class="fffslide__group">
        <div class="row">
          <div class="medium-12 columns text-left">
            <h4>Buttons</h4>
            <a href="#" class="button">Default</a>
            <a href="#" class="button tiny">Tiny</a>
            <a href="#" class="button large">Large</a>
            <a href="#" class="button small alert">Alert</a>
            <a href="#" class="button small radius">Radius</a>
            <a href="#" class="button small disabled">Disabled</a>

            <div class="fffcode"><span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#"</span> <span class="attribute">class</span>=<span class="value">"button [tiny small large] [alert] [disabled] [radius]"</span>&gt;</span>Button<span class="tag">&lt;/<span class="title">a</span>&gt;</span></div>
          </div>
        </div>

        <div class="row">
          <div class="small-12 columns">
            <hr/>
            <ul class="fffslide__bullets fffslide__bullets--columns">
              <li><a href="http://foundation.zurb.com/docs/components/inline_lists.html">http://foundation.zurb.com/docs/components/inline_lists.html</a></li>
              <li><a href="http://foundation.zurb.com/docs/components/buttons.html">http://foundation.zurb.com/docs/components/buttons.html</a></li>
            </ul>
          </div>
        </div>
      </div>

      <ul class="inline-list fffslide__controls">
        <li><a href="06-foundation-grid-cont" class="button tiny"><i class="fi-arrow-left"></i> Previous</a></li>
        <li><a href="08-foundation-forms" class="button tiny">Next <i class="fi-arrow-right"></i></a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}