{% block content %} 
<div class="row">
  <div class="small-12 columns">
    <div class="panel fffslide">
      <div class="fffslide__group">
        <h1>Foundation forms</h1>
      </div>

      <div class="fffslide__group">
        <div class="row">
          <div class="medium-4 columns text-left">
            <form>
              <div class="row">
                <div class="small-12 columns">
                  <label>Surname
                    <input type="text" placeholder="small-12.columns" />
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="small-6 columns">
                  <label>House name
                    <input type="text" placeholder="small-6.columns" />
                  </label>
                </div>
                <div class="small-6 columns">
                  <label>House number
                    <input type="text" placeholder="small-6.columns" />
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="small-12 columns">
                  <div class="row collapse">
                    <label>Postcode</label>
                    <div class="small-7 columns">
                      <input type="text" placeholder="small-7.columns" />
                    </div>
                    <div class="small-5 columns">
                      <a href="" class="button postfix">Find address</a>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="medium-8 columns text-left">

<div class="fffcode">
&lt;form&gt;<br/>
&nbsp;&nbsp;&lt;div class="row"&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="small-12 columns"&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;label&gt;Surname<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;input type="text" placeholder="small-12.columns" /&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/label&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;<br/>
&nbsp;&nbsp;&lt;/div&gt;<br/>
&nbsp;&nbsp;&lt;div class="row"&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="small-6 columns"&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;label&gt;House name<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;input type="text" placeholder="small-6.columns" /&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/label&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="small-6 columns"&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;label&gt;House number<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;input type="text" placeholder="small-6.columns" /&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/label&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;<br/>
&nbsp;&nbsp;&lt;/div&gt;<br/>
&nbsp;&nbsp;&lt;div class="row"&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="small-12 columns"&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="row collapse"&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;label&gt;Postcode&lt;/label&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="small-7 columns"&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;input type="text" placeholder="small-7.columns" /&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="small-5 columns"&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;a href="" class="button postfix"&gt;Find address&lt;/a&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;<br/>
&lt;/form&gt;
</div>


          </div>
        </div>
      </div>

      <div class="fffslide__group">
        <div class="row">
          <div class="small-12 columns">
            <hr/>
            <ul class="fffslide__bullets fffslide__bullets--columns">
              <li><a href="http://foundation.zurb.com/docs/components/forms.html">http://foundation.zurb.com/docs/components/forms.html</a></li>
            </ul>
          </div>
        </div>
      </div>

      <ul class="inline-list fffslide__controls">
        <li><a href="07-foundation-links" class="button tiny"><i class="fi-arrow-left"></i> Previous</a></li>
        <li><a href="09-other-useful-foundation-things" class="button tiny">Next <i class="fi-arrow-right"></i></a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}