{% block content %} 
<div class="row">
  <div class="small-12 columns">
    <div class="panel fffslide">
      <div class="fffslide__group">
        <h1>Other useful Foundation things</h1>
      </div>

      <div class="fffslide__group">
        <div class="row">
          <div class="medium-7 medium-push-5 columns">
            <ul class="fffslide__bullets">
              <li><a href="http://foundation.zurb.com/docs/components/offcanvas.html">Off canvas navigation</a></li>
              <li><a href="http://foundation.zurb.com/docs/components/reveal.html">Modal dialog</a></li>
              <li><a href="http://foundation.zurb.com/docs/components/pagination.html">Pagination</a></li>
              <li><a href="http://foundation.zurb.com/docs/components/range_slider.html">Range sliders</a></li>
              <li><a href="http://foundation.zurb.com/docs/components/accordion.html">Accordian</a></li>
              <li><a href="http://foundation.zurb.com/docs/components/orbit.html">Carousel</a></li>
              <li><a href="http://foundation.zurb.com/docs/components/thumbnails.html">Thumbnails</a></li>
              <li><a href="http://foundation.zurb.com/docs/components/flex_video.html">Flexible video</a></li>
            </ul>
          </div>

          <div class="medium-5 medium-pull-7 columns">
            <a href="http://foundation.zurb.com/docs/components/kitchen_sink.html">{{ "foundation-kitchen-sink.jpg" | asset_url | image_tag }}</a>
          </div>
        </div>
      </div>

      <div class="fffslide__group">
        <div class="row">
          <div class="small-12 columns">
            <hr/>
            <ul class="fffslide__bullets fffslide__bullets--columns">
              <li><a href="http://foundation.zurb.com/docs/components/kitchen_sink.html">http://foundation.zurb.com/docs/components/kitchen_sink.html</a></li>
            </ul>
          </div>
        </div>
      </div>

      <ul class="inline-list fffslide__controls">
        <li><a href="08-foundation-forms" class="button tiny"><i class="fi-arrow-left"></i> Previous</a></li>
        <li><a href="10-practical-2" class="button tiny">Next <i class="fi-arrow-right"></i></a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}