{% block content %} 
<div class="row">
  <div class="large-12 columns">
    <div class="panel fffslide fffslide--practical">
      <div class="fffslide__group">
        <h1>Practical 2 - freestyle</h1>
      </div>

      <div class="fffslide__group text-left">
        <h4>Over to you to continue as you like</h4>
      </div>

      <div class="fffslide__group">
        <div class="row">
          <div class="medium-12 columns">
            <ul class="fffslide__bullets fffslide__bullets--columns">
              <li>Continue with with the work from practical 1</li>
              <li>Experiment with adding new elements to practical 1</li>
              <li>
                Have a look at the fffunction example prototypes:
                <ul class="fffslide__bullets--sublist">
                  <li>Roland UK: <a href="http://roland-uk-1.fffunction.mixture.io/">http://roland-uk-1.fffunction.mixture.io/</a></li>
                  <li>Bristol Museums: <a href="http://bristol-museums-prot.fffunction3.mixture.io/">http://bristol-museums-prot.fffunction3.mixture.io/</a></li>
                </ul>
              </li>
              <li>Start a new project with Mixture's Foundation 5 boilerplate</li>
              <li>Try prototyping some ideas / sketches of your own</li>
              <li>Help each other out!</li>
            </ul>
          </div>
        </div>
      </div>

      <ul class="inline-list fffslide__controls">
        <li><a href="09-other-useful-foundation-things" class="button tiny"><i class="fi-arrow-left"></i> Previous</a></li>
        <li><a href="11-next-steps" class="button tiny">Next <i class="fi-arrow-right"></i></a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}