{% block content %} 
<div class="row">
  <div class="large-12 columns">
    <div class="panel fffslide">
      <div class="fffslide__group">
        <h1>Next steps</h1>
      </div>

      <div class="fffslide__group">
        <ul class="fffslide__bullets">
          <li>Publishing: your prototypes on the internet!</li>
          <li>Your own CSS / SASS</li>
          <li>Javascript / jQuery</li>
          <li>Other frameworks, libraries, plugins</li>
          <li><a href="http://docs.mixture.io/templates">Mixture templating: Liquid</a> and <a href="http://docs.mixture.io/templates#haml">HAML</a></li>
          <li>Data driven: Mixture <a href="http://docs.mixture.io/collections">Collections</a> and <a href="http://docs.mixture.io/models">Models</a></li>
          <li>Alternatives to Mixture (sssh!)</li>
          <li>Alternative prototyping methods</li>
          <li>fffunction prototyping kit - coming soon!</li>
        </ul>
      </div>

      <ul class="inline-list fffslide__controls">
        <li><a href="10-practical-2" class="button tiny"><i class="fi-arrow-left"></i> Previous</a></li>
        <li><a href="12-thanks" class="button tiny">Next <i class="fi-arrow-right"></i></a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}