{% block content %} 
<div class="row">
  <div class="large-12 columns">
    <div class="panel fffslide">
      <div class="fffslide__group">
        <h1>Thanks!</h1>
      </div>

      <div class="fffslide__group">
        <h4><a href="https://twitter.com/fffunction">@fffunction</a>&nbsp;
        <a href="https://twitter.com/bouncingdan">@bouncingdan</a>&nbsp;
        <a href="https://twitter.com/robeam">@robeam</a>&nbsp;
        <a href="https://twitter.com/bencoleman">@bencoleman</a></h4>
      </div>

      <div class="fffslide__group">
        <h4><a href="http://fffunction.co">http://fffunction.co</a></h4>
      </div>

      <div class="fffslide__group">
        <h4>
          The resources for this workshop (including these slides) are all available here:
          <a href="http://uxbristol2014.fffunction.co">http://uxbristol2014.fffunction.co</a>
        </h4>
      </div>

      <ul class="inline-list fffslide__controls">
        <li><a href="11-next-steps" class="button tiny"><i class="fi-arrow-left"></i> Previous</a></li>
        <li><a href="" class="button tiny disabled">Next <i class="fi-arrow-right"></i></a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}