.fffslide {
	text-align: center;
	&.fffslide--left {
		text-align: left;
	}
	&.fffslide--practical {
		background-color: #c2e2f2;
		hr {
			border-color: #666;
		}
	}
}

.fffslide__group {
	margin-bottom: 1em;
}

.fffslide__controls {
	position: fixed;
	top: 2.8em;
	right: 1em;
}

.fffslide__bullets {
	font-size: 1.4em;
	text-align: left;
	margin: 0 25%;
	&.fffslide__bullets--columns {
		margin: 0 2em;
	}
}

.fffslide__bullets--sublist {
	font-size: 1em;
}