{% block content %} 
  <div class="row">
    <div class="large-12 columns">
      <h1>Prototyping with Mixture</h1>
    </div>
  </div>


  <div class="row">
    <div class="large-7 medium-6 columns">
      <div class="panel">
        <p>We're going to publish the resources and the slides for our workshop here as a Mixture / Foundation prototype.</p>
        <p>For those with the necessary tech chops, the code can all be grabbed from <a href="https://bitbucket.org/fffunction/uxbristol">the repo on Bitbucket</a> so you can grab this code and take a look at how a simple Mixture and Foundation prototype style site is put together.</p> 
      </div>

      <div class="panel">
        <h2>About the workshop</h2>
        <p>We'll explain why fffunction like to use interactive prototypes as part of our project workflow and give a whistle-stop introduction to how we use <a href="http://mixture.io/">Mixture</a> to develop them.</p>
        <p>As time is limited we'll focus on building simple prototypes with Mixture's <a href="http://foundation.zurb.com/">Foundation</a> framework boilerplate (which is also what we've built this site with).</p>
        <p>We're aiming to make the session as practical as possible so participants can try out running a simple interactive prototype across devices, make some changes to it and ideally have a go at  prototyping some things of their own.</p>
      </div>
    </div>

    <div class="large-5 medium-6 columns">
      <div class="panel">
        <h2>Pre-workshop notes</h2>
        <p>Who we're aiming the workshop at, what you should bring along with you, and some really easy stuff you can do to prepare in advance.</p>
        <a href="/pre-workshop-notes" class="button small">Read the pre-workshop notes</a>
      </div>

      {% include "resources" %}
    </div>
  </div>

{% endblock %}