{% block content %} 
  <div class="row">
    <div class="large-12 columns">
      <h1>Pre-workshop notes</h1>
    </div>
  </div>


  <div class="row">
    <div class="medium-7 columns">
      <div class="panel">
        <h2>Who this workshop is for</h2>
        <p>We're aiming this workshop at UX practitioners who would like to get an overview of interactive prototyping and try it out using Mixture and our example framework: Foundation.</p>

        <p>Ideally you will have a working knowledge of basic HTML markup as you'll be looking at and editing markup in the code for the prototypes. Ideally you'll have some knowledge of basic CSS too. If you don't have these, the practical elements of the workshop will probably be tricky for you but we'll do our best to help you out where you can.</p>

        <p>It's helpful if you have some experience of source control, specifically cloning code from a git repo. If that all sounds like gobbledygook, don't worry we won't try to make you learn this stuff but we will help you get hold of the source code which you need.</p>

        <p>Ideally you'll have some familiarity with using a code-friendly text editor to edit HTML and CSS. Again we can help you if not and there are some suggested editors listed in <a href="#prepare_in_advance">Things you can do to prepare in advance</a>.</p>

        <p>If you're a developer or have plenty of experience of HTML and CSS then you should find the basic practical elements very easy. But hopefully you'll still get something out of the workshop as you'll see why we like building interactive prototypes and how we use them. Plus you'll probably be able to move quickly on to experimenting with some of your own stuff during the workshop.</p> 
      </div>

      <div class="panel">
        <h2 id="prepare_in_advance">Things you can do to prepare in advance</h2>
        <ul>
          <li>
            <h4>Install a suitable text editor</h4>
            <p>If you haven't got a suitable text editor installed, you could get that done. You can always use the editor bundled with your OS (TextEdit on Mac, Notepad on Windows), but they're definitely restrictive. Here are some suggested alternatives (both free and paid):</p>
            <h5>Windows</h5>
            <ul>
              <li><a href="http://notepad-plus-plus.org/">Notepad++ (free)</a></li>
              <li><a href="http://brackets.io/">Brackets (free)</a></li>
              <li><a href="http://www.sublimetext.com/">Sublime Text (free / paid - nagware)</a></li>
            </ul> 
            &nbsp;
            <h5>Mac</h5>
            <ul>
              <li><a href="http://www.barebones.com/products/textwrangler/">TextWrangler (free)</a></li>
              <li><a href="http://brackets.io/">Brackets (free)</a></li>
              <li><a href="http://www.sublimetext.com/">Sublime Text (free / paid - nagware)</a></li>
              <li><a href="http://www.barebones.com/products/bbedit/">BBEdit (paid)</a></li>
              <li><a href="http://macromates.com/">TextMate (paid)</a></li>
            </ul>
            &nbsp;
          </li>

          <li>
            <h4>Install <a href="http://mixture.io/">Mixture</a> (but not too soon!)</h4>
            <p>You'll get a free 14 day trial of Mixture so either hang back so that you've still got the trial during the workshop or if you decide you like Mixture (we're sure you will!), make sure you've purchased.</p>
          </li>

          <li>
            <h4>Have a think about some things you'd like to prototype</h4>
            <p>We hope that at least some folks will get the chance to try out protyping some elements of their own. So if there are specific things you'd like to try, maybe bring along a few sketches or ideas which you'd like to try out.</p>
          </li>

          <li>
            <h4>If you're more technically minded: have a look through the documentation for Mixture and Foundation</h4>
            <p>If you're already somewhat comfortable with HTML and CSS, you could take a look through the documentation for <a href="http://docs.mixture.io/">Mixture</a> and <a href="http://foundation.zurb.com/docs/">Foundation</a> (the framework we'll use in the workshop).</p>
          </li>
        </ul>
      </div>
    </div>

    <div class="medium-5 columns">
      <div class="panel">
        <h2>What you should bring</h2>
        <ul>
          <li>
            <h4>Your Windows or Mac laptop</h4>
            <p>You'll need to be able to install software on it and download files to it.</p>
            <p>You won't get much out of the workshop without this!</p>
          </li>
          <li>
            <h4>Devices you'd like to run your prototypes on</h4>
            <p>Part of the point of interactive prototyping is testing across devices so bring along phones, tablets and enormous smart TVs* you'd like to try your prototypes on.
            <br/><small>* Please don't <strong>actually</strong> bring enormous smart TVs along to the workshop!</small></p>
          </li>
          <li>
              <h4>Ideas and sketches of things you'd like to prototype</h4>
              <p>Hopefully you'll get the opportunity to try building out some of your own ideas so do bring anything you'd like to try out.</p>
          </li>
        </ul>
      </div>

      {% include "resources" %}
    </div>
  </div>

{% endblock %}